{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Uploading from browser to S3 example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> -->


    <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>

    {% if USE_S3 %}
    <script>
      $( document ).ready(function() {
        registerUploadForm($('.s3upload-form'));
      });
    </script>
    {% endif %}

  </head>
  <body>
    <div class="container">
      <h1>Upload Document</h1>
      {% crispy form %}
      <div>
        Status: <b class='status'>Waiting for file.</b>
      </div>
      <h1>Documents</h1>
      {% if documents %}
      <table class="table">
        <tr>
          <th>Name</th>
          <th>File</th>
        </tr>
        {% for document in documents %}
        <tr>
          <td>{{ document.name }}</td>
          <td><a href="{{ document.doc_file.url }}">{{ document.doc_file }}</a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No Documents</p>
      {% endif %}
    </div>
  </body>
</html>
